<!--
  Generated template for the TaskInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>任务详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="div-block">
    <div class="div-row-bottom-border" style="justify-content: space-between;">
      <div class="div-item-first">
        <div class="div-item-title">
          运送单号:
        </div>
        <div class="div-item-value">
          {{data.billNo}}
        </div>
      </div>
      <div class="div-item-first">
        <div class="div-item-title">
          运送类型:
        </div>
        <div class="div-item-value">
            {{data.transferType}}
        </div>
      </div>
      <div class="div-item-first">
        <div class="div-item-title">
          状态:
        </div>
        <div class="div-item-value">
            {{data.status}}
        </div>
      </div>
    </div>
    <div class="div-row-no-border">
      <div class="div-item">
        <div class="div-item-title">
          床号:
        </div>
        <div class="div-item-value">
            {{data.sickbed}}
        </div>
      </div>
      <div class="div-item">
        <div class="div-item-title">
          姓名:
        </div>
        <div class="div-item-value">
            {{data.patientName}}
        </div>
      </div>

    </div>

    <div class="div-row-no-border">
      <div class="div-item" style="width: 100%; align-items: flex-start">
        <div class="div-item-title">
          检查项目:
        </div>
        <div class="div-item-value">
            {{data.inspectionItem}}
        </div>
      </div>
    </div>
    <div class="div-row-no-border">
      <div class="div-item">
        <div class="div-item-title">
          创建时间:
        </div>
        <div class="div-item-value">
            {{data.createTime}}
        </div>
      </div>
      <div class="div-item">
        <div class="div-item-title">
          预约时间:
        </div>
        <div class="div-item-value">
          {{data.appointmentTime}}
        </div>
      </div>
    </div>
    <div class="div-row-no-border">
      <div class="div-item">
        <div class="div-item-title">
          派单时间:
        </div>
        <div class="div-item-value">
          {{data.assignTime}}
        </div>
      </div>
      <div class="div-item">
        <div class="div-item-title">
          开始时间:
        </div>
        <div class="div-item-value">
          {{data.acceptTime}}
        </div>
      </div>
    </div>
    <div class="div-row-no-border">
      <div class="div-item">
        <div class="div-item-title">
          运送工具:
        </div>
        <div class="div-item-value">
            {{data.transferTool}}
        </div>
      </div>
      <div class="div-item" style="align-items: flex-start">
        <div class="div-item-title">
          备注:
        </div>
        <div class="div-item-value">
            {{data.remark}}
        </div>
      </div>
    </div>
    <div class="div-row-no-border">
      <div class="div-item">
        <div class="div-item-title">
          紧急程度:
        </div>
        <div class="div-item-value">
          {{data.emergencyLevel}}
        </div>
      </div>
      <div class="div-item">
        <div class="div-item-title">
          运送人:
        </div>
        <div class="div-item-value">
          {{data.operatorName}}
        </div>
      </div>
    </div>
    <div class="div-row-bottom-border" *ngIf="false" >
      <div class="div-item" style="align-items: flex-start">
        <div class="div-item-title">
          检查单照片:
        </div>
        <div class="div-imgs">
            <img *ngFor="let item of picArray; let i = index" class="div-img-item" src="{{item.thumbImgPath}}" (click)="showPicture(item)"/>
        </div>
      </div>
      <div class="div-item" *ngIf="false" (click)="playAudio()">
        <div class="div-item-title">
          语音:
        </div>
        <div class="div-item-value">
          暂无
        </div>
        <button *ngIf="false"  ion-button small><ion-icon name="ios-play"></ion-icon>&nbsp;播放</button>
      </div>
    </div>
    <div class="div-row-no-border">
      <div class="div-item">
          <button ion-button block color="danger" (click)="pushTransferBill($event)">
              <ion-icon name="ios-notifications">
              </ion-icon>
              催单
            </button>
      </div>
      <div class="div-item">
          <button ion-button block color="primary" (click)="cancelTransferBill($event)">
              <ion-icon name="ios-undo">
              </ion-icon>
              取消
            </button>
      </div>
      <div class="div-item">
          <button ion-button block color="secondary" (click)="backClicked($event)">
              <ion-icon name="ios-arrow-back">
              </ion-icon>
              返回
            </button>
      </div>
    </div>
  </div>

</ion-content>
