page-task-info {
    .div-block{
        border: 1px solid #A6BBC8;
        border-radius: 8px;
    }
    .div-row-bottom-border{
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #A6BBC8;
    }
    .div-row-no-border{
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .div-item-first{
        padding: 5px;
        display: flex;
        align-items: center;
        .div-item-title{
            font-size: 1.4rem;
            color: #333333;
            min-width: 32px;
            line-height: 15px;
        }
        .div-item-value{
            font-size: 1.4rem;
            color: #666666;
            line-height: 15px;
        }
        .div-item-img{
            font-size: 1.4rem;
            color: #0070E0;
            line-height: 15px;
        }
    }
    .div-item{
        width: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        .div-item-title{
            font-size: 1.4rem;
            color: #333333;
            min-width: 32px;
            line-height: 15px;
        }
        .div-item-value{
            font-size: 1.4rem;
            color: #666666;
            line-height: 15px;
        }
    }
    .div-imgs{
        display:flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
