<!--
  Generated template for the TaskListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <button ion-button icon-only menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>运送</ion-title>
  </ion-navbar>

</ion-header>
<ion-content scroll="false">

  <div class="gird-main">
    <div class="col-detail">
      <ion-segment [(ngModel)]="taskType">
        <ion-segment-button value="LEFT">
          病人/标本
        </ion-segment-button>
        <ion-segment-button value="RIGHT">
          药品/物品
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="taskType">
        <div *ngSwitchCase="'LEFT'">
          <!--类型为病人运送-->
          <div class="div-block-bottom-border">
            <div class="div-item-row">
              <div class="div-item-row-half">
                <div class="div-title">床号:</div>
                <ion-input type="text" class="my-ion-input" placeholder="请输入病人床号" [(ngModel)]="bedNum"></ion-input>
              </div>
              <div class="div-item-row-half">
                <div class="div-title">姓名:</div>
                <ion-input type="text" class="my-ion-input" placeholder="请输入病人姓名" [(ngModel)]="patientName"></ion-input>
              </div>
            </div>
            <div class="div-item-row">
              <div class="div-item-row-half">
                <div class="div-title">腕带号:</div>
                <ion-input type="text" class="my-ion-input" placeholder="请输入病人腕带号" [(ngModel)]="patientWristband"></ion-input>
              </div>
              <div class="div-item-row-half">
                <div class="div-title">出生日期:</div>
                <ion-input type="text" class="my-ion-input"
                   readonly="true"
                   placeholder="请选择日期" 
                   (ionFocus)="onBirthDateClicked()"
                   [(ngModel)]="birthForshow"></ion-input>
                <ion-datetime 
                  #birthday
                  style="display:none"
                  displayFormat="YYYY-MM-DD" 
                  pickerFormat="YYYY-MM-DD" 
                  [(ngModel)]="patientBirthday"
                  (ngModelChange)="onBirthdayChanged()"
                  type="datetime-local"
                  cancelText="取消"
                  doneText="确认"
                  ></ion-datetime>
              </div>
            </div>
            <div class="div-checkbox-container">
              <div class="div-title">检查项目:</div>
              <ion-chip *ngFor="let item of checkOptionArray" [ngClass]="item.isChecked? 'div-check-item-checked':'div-check-item-default'"
                (click)="onCheckItemClicked(item)">
                {{item.PROPSTRING7}}
              </ion-chip>
            </div>

            <div class="div-item-row">
              <div class="div-item-row-half">
                <div class="div-title">运送工具:</div>
                <div *ngFor="let item of transportTools; let i = index" [ngClass]="item.isChecked? 'div-tools-item-checked':'div-tools-item-default'"
                  (click)="onTransferToolsClicked(i)">
                  {{item.name}}
                </div>
              </div>
              <div class="div-item-row-half">
                  <div class="div-title">预约时间:</div>
                  <ion-input type="text" class="my-ion-input"
                   readonly="true"
                   placeholder="请选择时间" 
                   (ionFocus)="onDateTimeClicked()"
                   [(ngModel)]="dateTimeForShow"></ion-input>
                  <ion-datetime 
                  #timepicker
                  style="display:none"
                  displayFormat="YYYY-MM-DD HH:mm" 
                  pickerFormat="YYYY-MM-DD HH:mm" 
                  [(ngModel)]="checkDate"
                  (ngModelChange)="onDateTimeChanged()"
                  type="datetime-local"
                  cancelText="取消"
                  doneText="确认"
                  ></ion-datetime>
              </div>
            </div>
            <div>
              <!--暂未使用图片上传模块-->
              <div class="div-upload-img-content" *ngIf="false">
                <div class="div-title">拍摄病人检查单</div>
                <img *ngFor="let item of picArray; let i = index" class="div-img-item" src="{{item.thumbImgPath}}"
                  (click)="showPicture(item)" />

                <button *ngIf="picArray.length < 5" ion-button outline small class="btn-action-img" (click)="takePhoto()">
                  <ion-icon name="ios-camera-outline"></ion-icon>
                </button>
                <button *ngIf="picArray.length > 0" ion-button outline small class="btn-action-img" (click)="removeAll()">
                  <ion-icon name="ios-trash"></ion-icon>
                </button>
              </div>
            </div>

            <div class="div-comments">
              <div class="div-comments-row">
                <div class="div-title">备注:</div>
                <ion-input type="text" [(ngModel)]="comments" placeholder="请输入备注"></ion-input>
              </div>
              <div class="div-comments-btn">
                <button ion-button small (click)="onPatientTransferTaskCreate()">提交</button>
              </div>
            </div>
          </div>
          <!--类型为标本运送-->
          <div class="div-block-bottom-border">
            <div class="div-upload-img-content">
              <div class="div-title">呼叫标本服务</div>
              <div class="div-action-red" *ngIf="true" (click)="onSpecimenTransport(true)">
                <ion-icon name="ios-notifications" color="text-white"></ion-icon>
                <div class="div-action-btn-text">急诊</div>
              </div>
              <div class="div-action-blue" *ngIf="true" (click)="onSpecimenTransport(false)">
                <ion-icon name="md-alarm" color="text-white"></ion-icon>
                <div class="div-action-btn-text">平诊</div>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'RIGHT'">
          <!--类型为药品运送-->
          <div class="div-block-bottom-border">
            <div class="div-item-row-no-border" style="justify-content: space-between">
              <div class="div-text">药品运送</div>
              <button ion-button small (click)="onDrugTransferClicked()">提交</button>
            </div>
            <div class="div-item-row-no-border" *ngIf="false">
              <div class="div-item-row-half">
                <ion-item no-lines class="my-ion-item">
                  <ion-label class="my-lable">预约时间</ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="checkDate"></ion-datetime>
                </ion-item>
              </div>
              <div class="div-item-row-half">
                <ion-item no-lines class="my-ion-item">
                  <ion-label class="my-lable">药房</ion-label>

                </ion-item>
              </div>
            </div>
          </div>
          <!--类型为物品运送-->
          <div class="div-block-bottom-border">
            <div class="div-item-row" style="justify-content: space-between">
              <div class="div-text">物品运送</div>
            </div>
            <div class="div-checkbox-container">
              <div class="div-title">运送物品</div>
              <ion-chip *ngFor="let item of commodityArray" [ngClass]="item.isChecked? 'div-check-item-checked':'div-check-item-default'"
                (click)="onCheckItemClicked(item)">
                {{item.name}}
              </ion-chip>
              <div style="width: 100%; display: flex;align-items: center;">
                <ion-chip [ngClass]="isOther? 'div-check-item-checked':'div-check-item-default'" (click)="onCommodityOthersChecked()">
                  其他
                </ion-chip>
                <ion-input [disabled]="!isOther" type="text" class="my-ion-input" placeholder="请输入其他物品" [(ngModel)]="otherCommodity"></ion-input>
              </div>
            </div>
            <div class="div-item-row" *ngIf="false">
              <div class="div-item-row-half">
                <ion-item no-lines class="my-ion-item">
                  <ion-label class="my-lable">预约时间</ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm" [(ngModel)]="checkDate"
                    (ionFocus)="onDateTimeClicked()"></ion-datetime>
                </ion-item>
              </div>
              <div class="div-item-row-half" *ngIf="false">
                <ion-item no-lines class="my-ion-item">
                  <ion-label class="my-lable">送/取物品</ion-label>
                  <ion-toggle [(checked)]="isSendCommodity"></ion-toggle>
                </ion-item>
              </div>
            </div>
            <div class="div-item-row">
              <div style="width: 25%; display: flex;align-items: center;">
                <div class="div-title">数量:</div>
                <ion-input type="number" [(ngModel)]="commodityNum" placeholder="请输入数量"></ion-input>
              </div>
              <div  style="width: 75%; display: flex;align-items: center;">
                <div class="div-title">备注:</div>
                <ion-input type="text" [(ngModel)]="commodityComments" placeholder="请输入备注"></ion-input>
              </div>
            </div>
            <div class="div-item-row-no-border">
              <div class="div-item-row-half">
                <button ion-button small (click)="onCommodityTransferClicked(false)" style="width:100%">从本病区取</button>
              </div>
              <div class="div-item-row-half">
                <button ion-button small (click)="onCommodityTransferClicked(true)" style="width:100%">送到本病区</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--暂未使用录音模块-->
      <div *ngIf="false" class="div-audio-record">
        <div class="div-record-action">
          <button ion-button small class="btn-action-bar-item" (click)="recordActionClicked()">
            <ion-icon name="{{icon_text_record}}"></ion-icon>&nbsp;{{btn_text_record}}
          </button>
          <button ion-button small class="btn-action-bar-item">
            <ion-icon name="ios-play"></ion-icon>&nbsp;播放
          </button>
          <button ion-button small class="btn-action-bar-item">
            <ion-icon name="ios-cloud-upload"></ion-icon>&nbsp;上传
          </button>
        </div>
        <div *ngIf="is_Record_start" class="div-record-process">
          <div class="div-circle-dot">
          </div>
          <div class="div-record-time">
            {{text_record_time}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-list">
      <div style="width:100%;display: flex;align-items: center;">
        <div class="div-segmentbar-list">
          <div [ngClass]="segSelect ==='DOING'? 'div-seg-checked':'div-seg-default'" (click)="onListSegClicked(true)">
            进行中
          </div>
        </div>
        <div class="div-segmentbar-list">
          <div [ngClass]="segSelect ==='DONE'? 'div-seg-checked':'div-seg-default'" (click)="onListSegClicked(false)">
            已完成
          </div>
        </div>
      </div>

      <ion-scroll #myListScroll scrollY="true" class="my-list-scroll">
        <div [ngSwitch]="segSelect">
          <div *ngSwitchCase="'DOING'" class="div-list-content">
            <div *ngFor="let item of doingTaskList" (click)="listItemClicked(item)" style="margin-top: 10px;">
              <div class="div-task-list-item-top">
                <div class="div-task-item-type">
                  <img class="img-icon" src="{{item.getItemIcon()}}" />
                  <div>{{item.TargetType}}</div>
                </div>
                <div class="div-task-item-middle">
                  <img *ngIf="item.DelayBy" [ngClass]="item.isFirstPush? 'img-icon':'img-icon-cui2'" [src]="item.isFirstPush? 'assets/imgs/icon-cui.png':'assets/imgs/icon-cui-2.png'" />
                  <!-- <img class="img-icon-cui2" src="assets/imgs/icon-cui-2.png" /> -->
                  <div class="div-time-text">{{item.PatientBirthday}}&nbsp;&nbsp;{{item.State}}&nbsp;&nbsp;{{item.Operator}}</div>
                </div>

                <div class="div-task-item-btn-left">
                  <button ion-button clear small color="blue" (click)="pushTransferBill($event, item)">
                    <img class="img-icon" src="assets/imgs/icon-cd.png" />
                    催单
                  </button>

                </div>
                <div class="div-task-item-btn-right">
                  <button ion-button clear small color="danger" (click)="cancelTransferBill($event, item)">
                    <img class="img-icon" src="assets/imgs/icon-quxiao.png" />
                    取消
                  </button>
                </div>
              </div>
              <div class="div-task-list-item-bottom">
                <div *ngIf="item.TargetType !=='标本'"  class="div-text">
                  床号:{{item.FromSickbed}}&nbsp;&nbsp;姓名:{{item.patientname}}&nbsp;&nbsp;检查项目:{{item.String10}}
                </div>
                <div *ngIf="item.TargetType ==='标本'" class="div-text">
                  床号:{{item.FromSickbed}}&nbsp;&nbsp;姓名:{{item.patientname}}&nbsp;&nbsp;{{item.String12}}
                </div>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'DONE'" class="div-list-content">
            <div *ngFor="let item of doneTaskList" (click)="listItemClicked(item)" style="margin-top: 10px;">
              <div class="div-task-list-item-top">
                <div class="div-task-item-type">
                  <img class="img-icon" src="{{item.getItemIcon()}}" />
                  <div>{{item.TargetType}}</div>
                </div>
                <div class="div-task-item-middle">
                  <img *ngIf="item.DelayBy" [ngClass]="item.isFirstPush? 'img-icon':'img-icon-cui2'" [src]="item.isFirstPush? 'assets/imgs/icon-cui.png':'assets/imgs/icon-cui-2.png'" />
                  <div class="div-time-text">{{item.PatientBirthday}}&nbsp;&nbsp;{{item.State}}&nbsp;&nbsp;{{item.Operator}}</div>
                </div>
              </div>
              <div class="div-task-list-item-bottom">
                <div *ngIf="item.TargetType !=='标本'"  class="div-text">
                  床号:{{item.FromSickbed}}&nbsp;&nbsp;姓名:{{item.patientname}}&nbsp;&nbsp;检查项目:{{item.String10}}
                </div>
                <div *ngIf="item.TargetType ==='标本'" class="div-text">
                  床号:{{item.FromSickbed}}&nbsp;&nbsp;姓名:{{item.patientname}}&nbsp;&nbsp;{{item.String12}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-scroll>
    </div>
  </div>

  <ion-fab bottom right>
    <button ion-fab mini (click)="refreshList()">
      <ion-icon name="md-sync"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
