page-task-list {
  .gird-main {
    // margin: 0px 1px;
    width: 100%;
    height: 100%;
    display: flex;

    .col-list {
      width: 50%;
      height: 100%;
      padding: 10px;
      background-color: #f4f5f9;
      .my-list-scroll {
        width: 100%;
        height: 95%;
        margin-top: 2px;
      }

      .div-list-content {
        padding: 3px;

        .ion-card-content {
          position: relative;
          padding: 10px;
          margin: 10px 5px;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

          .div-text {
            font-size: 1.2rem;
            color: #666666;
            padding: 5px;
            line-height: 13px;
            max-lines: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }


    }

    .col-detail {
      width: 50%;
      height: 100%;
      padding: 10px;
      border-right: 1px solid #e0e0e0;

      // margin: 0px 1px;
      .div-item-row {
        display: flex;
        padding: 1px 5px;
        align-items: center;
        min-height: 38px;
        font-size: 1.2rem !important;
        border-bottom: 0.5px solid #A6BBC8;
      }

      .div-item-row-no-border {
        display: flex;
        padding: 1px 5px;
        min-height: 38px;
        align-items: center;
        font-size: 1.2rem !important;
      }

      .div-item-row-half {
        width: 50%;
        height: 35px;
        display: flex;
        align-items: center;

        .my-ion-input {
          height: 35px;
          font-size: 1.2rem;
        }

        .my-ion-item {
          min-height: 3.0rem !important;
          padding-left: 0px !important;
          background-color: transparent !important;

          ion-select {
            font-size: 1.2rem !important;
          }

          ion-datetime {
            font-size: 1.2rem !important;
          }
        }

        .my-lable {
          font-size: 1.2rem !important;
        }
      }


      .div-title {
        font-size: 1.2rem;
        line-height: 25px;
        text-align: bottom;
      }

      .div-checkbox-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 3px;
        width: 100%;
        border-bottom: 0.5px solid #A6BBC8;


        .div-check-item-default {
          font-size: 1.0rem;
          padding: 2px 5px;
          margin: 3px;
        }

        .div-check-item-checked {
          font-size: 1.0rem;
          padding: 2px 5px;
          margin: 3px;
          background-color: #007067;
          color: #fff;
        }
      }

      .div-upload-img-content {
        display: flex;
        align-items: center;
        padding: 0px 0px 0px 15px;
        background-color: #fff;

        .div-img-item {
          height: 50px;
          width: 50px;
          margin: 3px;
        }

        .btn-action-img {
          width: 39px !important;
          height: 39px !important;
        }
      }

      .div-transfer{
        .div-line-container{
          display:flex;
          width:100%;
          height:30px;
          align-items: center;
          padding: 0px 40px;
          .div-line-blue{
            height: 4px; 
            flex: 1;
            background-color: #007067;
            margin-bottom: 2px;
 
          }
          .div-line-grey{
            height: 4px; 
            flex: 1;
            background-color: #969696;

          }
        }
        .div-circle-bule{
          width: 15px; 
          height: 15px; 
          border-radius: 50%; 
          background-color: #007067;
        }
        .div-circle-ring{
          width: 16px; 
          height: 16px; 
          border-radius: 50%; 
          border:2px solid #007067;
        }
        .div-circle-grey{
          width: 15px; 
          height: 15px;
          border-radius: 50%; 
          background-color: #969696;
          margin-top: 2px;
        }
        .div-transfer-info{
          width: 100%; 
          display: flex; 
          justify-content: space-between;
        }
        .div-transfer-info-item {
          width: 20%; 
          display: flex; 
          flex-direction:column; 
          justify-content: center; 
          align-items: center;
          .div-text-info-center-blue{
            width:100%;
            text-align: center;
            font-size: 1.1rem;
            color: #007067; 
          }
          .div-text-info-center-grey{
            width:100%;
            text-align: center;
            font-size: 1.1rem;
            color: #969696;
          }
        }
      }

      .div-comments {
        display: flex;
        align-items: center;
        padding: 1px 5px;

        .div-comments-row {
          flex: 1;
          display: flex;
          align-items: center;
        }

        .div-comments-btn {
          flex: 0;
        }
      }

    }
  }

  .div-block-bottom-border {
    margin: 10px 0px;
    border: 1px solid #A6BBC8;
    border-radius: 4px;
    // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .div-audio-record {
    margin: 5px 0px;
    border: 1px solid #A6BBC8;
    border-radius: 4px;
    display: flex;
    padding: 1px 5px;
    align-items: center;
    font-size: 1.2rem !important;

    .div-record-action {
      display: flex;
      align-items: center;
      flex: 0;
    }

    .btn-action-bar-item {
      margin: 8px 3px;
    }

    .div-record-process {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 5px;
    }

    .div-circle-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgba(191, 2, 2, .8);
      float: left;
      animation: redanimations 1.5s ease infinite;
    }

    .div-record-time {
      font-size: 1.4rem;
      color: #666666;
      margin: 0px 8px;
    }

    @keyframes redanimations {
      0% {
        box-shadow: 0 0 10px 2px rgba(191, 2, 2, .8);
      }

      50% {
        box-shadow: 0 0 10px 2px rgba(191, 2, 2, .3);
      }

      100% {
        box-shadow: 0 0 10px 2px rgba(191, 2, 2, .8);
      }
    }
  }

  .div-action-bar {
    position: absolute;
    top: 50%;
    right: 0%;
    margin-right: 10px;
    margin-top: -5px;
    display: flex;
    align-items: center;
  }

  .div-action-red {
    width: 40px;
    height: 40px;
    padding: 2px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #FF4747;
    box-shadow: 1px 1px 4px #333;
    margin-top: 1px;
  }

  .div-action-blue {
    width: 40px;
    height: 40px;
    padding: 3px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #007067;
    box-shadow: 1px 1px 4px #333;
    margin-top: 1px;
  }

  .div-action-btn-text {
    font-size: 1.0rem !important;
    color: #fff;
  }

  .div-tools-item-default {
    font-size: 1.0rem;
    padding: 5px 8px;
    margin: 0px 1px;
    background: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 3px;
  }

  .div-tools-item-checked {
    font-size: 1.0rem;
    padding: 5px 8px;
    margin: 0px 1px;
    background-color: #007067;
    color: #fff;
    border-radius: 3px;
  }

  .div-segmentbar-list{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .div-seg-default{
      width: 140px;
      height: 35px;
      text-align: center;
      font-size: 1.5rem;
      line-height: 35px;
      font-weight: 400;
      color: #8c96be;
      background-color: transparent;
      border-radius: 17x;
    }
    .div-seg-checked{
      width: 140px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      font-size: 1.5rem;
      font-weight: 400;
      color: #fff;
      background-color: #007067;
      border-radius: 17px;
    }
  }

  .div-task-list-item-top {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border-bottom: 1px solid rgb(242, 242, 242);
    background-color: #fff;

    .img-icon{
      flex: 0;
      width: 20px;
      height: 20px;
      margin: 0px 5px;
    }

    .div-task-item-type {
      display: flex;
      align-items: center;
      width: 16.6%;
      height: 28px;
      padding: 0px 10px 0px 5px; 
      justify-content: space-between;
      border-right: 1px solid rgb(242, 242, 242);
      color: #1F8CF1;
      font-size: 1.2rem;
    }
    .div-task-item-middle{
      display: flex;
      align-items: center;
      width: 50%;
      height: 28px;
      border-right: 1px solid rgb(242, 242, 242);
      padding: 0px 5px;
      .img-icon-cui2{
        flex: 0;
        width: 36px;
        height: 20px;
        margin: 0px 5px;
      }
      .div-time-text {
        flex: 1;
        color: #1F8CF1;
        font-size: 1.2rem;
        max-lines: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .div-task-item-btn-left {
      display: flex;
      align-items: center;
      width: 16.6%;
      height: 28px;
      margin: 2px 0px;
      justify-content: center;
      color: #1F8CF1;
      font-size: 1.2rem;
      border-right: 1px solid rgb(242, 242, 242);
    }

    .div-task-item-btn-right {
      display: flex;
      align-items: center;
      width: 16.6%;
      height: 28px;
      margin: 2px 0px;
      justify-content: center;
      color: #FF4747;
      font-size: 1.2rem;
    }
  }

  .div-task-list-item-bottom {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 2px 13px;
    .div-text {
      font-size: 1.3rem;
      color: #000;
      padding: 5px;
      max-lines: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

}
