<!--
  Generated template for the TaskListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <button ion-button icon-only menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>运送</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  
  <div class="gird-main">
    <div class="col-detail">
      <ion-segment [(ngModel)]="taskType">
        <ion-segment-button value="LEFT">
          病人/标本
        </ion-segment-button>
        <ion-segment-button value="RIGHT">
          药品/物品
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="taskType">
        <div *ngSwitchCase="'LEFT'">
          <!--类型为病人运送-->
          <div class="div-block-bottom-border">
            <div class="div-item-row">
              <div class="div-item-row-half">
                <div class="div-title">床号</div>
                <ion-input type="text" placeholder="请输入病人床号"></ion-input>
              </div>
              <div class="div-item-row-half">
                <div class="div-title">姓名</div>
                <ion-input type="text" placeholder="请输入病人姓名"></ion-input>
              </div>
            </div>
            <div class="div-checkbox-container">
              <div *ngIf="true" style="display: flex; align-items: center;flex-wrap: wrap;">
                <div class="div-title">检查项目</div><ion-chip *ngFor="let item of checkOptionArray" [ngClass]="item.isChecked? 'div-check-item-checked':'div-check-item-default'"
                  (click)="onCheckItemClicked(item)">
                  {{item.name}}
                </ion-chip>
              </div>
            </div>

            <div class="div-item-row">
              <div class="div-item-row-half">
                <ion-item no-lines class="my-ion-item">
                    <ion-label class="my-lable">运送工具</ion-label>
                  <ion-select [(ngModel)]="transportOption" okText="确定" cancelText="取消">
                    <ion-option value="轮椅">轮椅</ion-option>
                    <ion-option value="平车">平车</ion-option>
                    <ion-option value="拉床">拉床</ion-option>
                    <ion-option value="步行">步行</ion-option>
                  </ion-select>
                </ion-item>
              </div>
              <div class="div-item-row-half">
                  <ion-item no-lines class="my-ion-item">
                      <ion-label class="my-lable">预约时间</ion-label>
                      <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="checkDate"></ion-datetime>
                    </ion-item>
              </div>
            </div>
            <div>
                <div class="div-upload-img-content">
                  <div class="div-title">拍摄病人检查单</div>
                  <div *ngFor="let item of picArray; let i = index" class="div-img-item" (click)="showPicture(item)">
                    <div>
                        照片{{i}}
                    </div>
                  </div>
                
                    <button *ngIf="picArray.length < 4" ion-button outline small style="width:39px !important; height: 39px !important; " (click)="takePhoto()">
                      <ion-icon name="ios-camera-outline"></ion-icon>
                    </button>
                    <button *ngIf="picArray.length > 0" ion-button outline small style="width:39px !important; height: 39px !important;" (click)="uploadPic()">
                      <ion-icon name="ios-cloud-upload"></ion-icon>
                    </button>
                    <button *ngIf="picArray.length > 0" ion-button outline small style="width:39px !important; height: 39px !important; " (click)="removeAll()">
                      <ion-icon name="ios-trash"></ion-icon>
                    </button>
                  </div>
            </div>

            <div style=" display: flex;align-items: center; padding: 1px 5px">
              <div style="flex: 1; display: flex;align-items: center;">
                <div class="div-title">备注</div>
                <ion-input type="text" [(ngModel)]="comments" placeholder="请输入备注"></ion-input>
              </div>
              <div style="flex: 0;">
                  <button ion-button small (click)="onTaskCreate()">提交</button>
              </div>
            </div>
          </div>
          <!--类型为标本运送-->
          <div class="div-block-bottom-border">
            <div class="div-upload-img-content">
              <div class="div-title">呼叫标本服务</div>
              <div class="div-action-red" *ngIf="true">
                <ion-icon name="ios-call" color="text-white"></ion-icon>
                <p style="color: #fff; margin-top: 1px;font-size: 12sp !important;">呼叫</p>
              </div>

              <div class="div-action-blue" *ngIf="true">
                <ion-icon name="ios-notifications" color="text-white"></ion-icon>
                <p style="color: #fff; margin-top: 1px;font-size: 12sp !important;">催单</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'RIGHT'">
          <!--类型为药品运送-->
          <div class="div-block-bottom-border">
            <ion-label>药品运送</ion-label>
            <div>
              <ion-row>
                <ion-col col-6>
                  <ion-item>
                    <ion-label>预约时间</ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="checkDate"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <ion-item>
                    <ion-label>药房</ion-label>
                    <ion-select [(ngModel)]="drugOption">
                      <ion-option value="急诊药">急诊药</ion-option>
                      <ion-option value="常规药">常规药</ion-option>
                      <ion-option value="夜间急诊药">夜间急诊药</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <button ion-button (click)="onTaskCreate()">提交</button>
            </div>
          </div>
          <!--类型为物品运送-->
          <div class="div-block-bottom-border">
            <ion-label>物品运送</ion-label>
            <div>
              <ion-row>
                <ion-col col-6>
                  <ion-item>
                    <ion-label>预约时间</ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="checkDate"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <ion-item>
                    <ion-label>送达科室</ion-label>
                    <ion-select [(ngModel)]="drugOption">
                      <ion-option value="氧气站">氧气站</ion-option>
                      <ion-option value="信息科">信息科</ion-option>
                      <ion-option value="设备科">设备科</ion-option>
                      <ion-option value="设备科">机修组</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <div class="div-checkbox-container">
                <ion-label style="padding:5px 8px 0px 16px;font-size:1.7rem;">运送物品</ion-label>

                <div style="display: flex; align-items: center;flex-wrap: wrap;">
                  <div class="div-checkbox-item">

                    <ion-item no-lines>
                      <ion-label>氧气</ion-label>
                      <ion-checkbox></ion-checkbox>
                    </ion-item>
                  </div>

                  <div class="div-checkbox-item">

                    <ion-item no-lines>
                      <ion-label>PDA</ion-label>
                      <ion-checkbox></ion-checkbox>
                    </ion-item>
                  </div>

                  <div class="div-checkbox-item">

                    <ion-item no-lines>
                      <ion-label>温仪</ion-label>
                      <ion-checkbox></ion-checkbox>
                    </ion-item>
                  </div>
                </div>
                <div style="display: flex; align-items: center;flex-wrap: wrap;">
                  <div class="div-checkbox-item" *ngFor="let item of commodityArray">

                    <ion-item no-lines>
                      <ion-label>{{item}}</ion-label>
                      <ion-checkbox></ion-checkbox>
                    </ion-item>
                  </div>

                </div>
              </div>
              <button ion-button (click)="onTaskCreate()">提交</button>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-list">
      <ion-segment [(ngModel)]="segSelect">
        <ion-segment-button value="DOING">
          进行中
        </ion-segment-button>
        <ion-segment-button value="DONE">
          已完成
        </ion-segment-button>
      </ion-segment>

      <div>
        <ion-card padding>
          <div class="ion-card-content">
            <div>
              <div>
                23病区->药房仓库
              </div>
              <p>
                类型：物资运送-临时取药
              </p>
              <p>
                2018-11-10 19:20
              </p>
            </div>
            <div class="div-action-bar">
              <div class="div-action-red" *ngIf="true">
                <ion-icon name="ios-notifications" color="text-white"></ion-icon>
                <p style="color: #fff; margin-top: 1px;font-size: 12sp !important;">催单</p>
              </div>

              <div class="div-action-blue" *ngIf="true">
                <ion-icon name="ios-undo" color="text-white"></ion-icon>
                <p style="color: #fff; margin-top: 1px;font-size: 12sp !important;">取消</p>
              </div>

            </div>

          </div>
        </ion-card>
      </div>

    </div>
  </div>
</ion-content>